<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	colors="true"
	stderr="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="false"
	bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/AlternCApi/</directory>
        </testsuite>
    </testsuites>

    <filter>
      <whitelist>
        <directory>./src/AlternCApi/</directory>
      </whitelist>
    </filter>

</phpunit>
