<?php

/**
 * This file is part of AlternC PHP API
 *
 * For the full copyright and license information, please view the LICENSE.txt
 * file that was distributed with this source code.
 */


namespace AlternCApi\Tests;

/**
 * Copy this file to TestCredentials.php and modify the values to run tests.
 */
class AlternCApiTestCredentials {

  /**
   * These must be filled out for tests to run.
   */
   public static $url = '';
   public static $user = '';
   public static $secret = '';
   public static $login_method = '';
   public static $token = '';

}
